<div class="field alpha omega eight columns products_rule_products">
  <%= label_tag "#{param_prefix}_taxon_ids_string", Spree.t('taxon_rule.choose_taxons') %>
  <%= hidden_field_tag "#{param_prefix}[taxon_ids_string]",
                       promotion_rule.taxon_ids_string,
                       class: "taxon_picker fullwidth",
                       id: 'product_taxon_ids' %>
</div>

<script>
    $(function(){
        $('#product_taxon_ids').taxonAutocomplete()
    });
</script>
